<!DOCTYPE html>
<html>
<head>
    <title>Watt 2021 Project</title>
    <style>
        h1 {text-align: center;
          font-family: Tahoma, sans-serif;
            }
        form {text-align: center;
              font-family: Tahoma, sans-serif;
              }
        p {text-align: center;
           font-family: Tahoma, sans-serif;
        }
        option {
          font-family: Tahoma, sans-serif;

        }
        input {
          font-family: Tahoma, sans-serif;

        }
    </style>
</head>
<body style = "background-color:tomato">
<h1>Watt 2021 Project</h1>

<p>Select your difficulty:</p>
<p>Solve for x and type the greatest solution below.</p>
<form action="/level" method="POST">
    <label for="difficulty">Choose a difficulty:</label>
    <select name="difficulty" id="difficulty">
      <option value="1">Easy</option>
      <option value="2">Medium</option>
      <!-- <option value="hard">Hard</option> -->
    </select>
    <br><br>
    <input type="submit" value="Submit">
  </form>


</body>
</html>
