<!DOCTYPE html>
<html>
<head>
    <title>Watt 2021 Project</title>
    <style>
        h1 {text-align: center;}
        form {text-align: center;}
        p {text-align: center;}
        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }
        table.center {
            margin-left: auto;
            margin-right: auto;
        }
        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>
<body style = "background-color:tomato">
<h1>Watt 2021 Project</h1>

<p>Top Scores:</p>
<table class="center">
    <tr>
      <th>Username</th>
      <th>Score</th>
    </tr>
    <tr>
        <th>thisisatest</th>
        <th>69</th>
    </tr>

  </table>


</body>
</html>
